<div class="row footerform">
    <div class="col-md-3">
        <img class="footerpic" src="img/EZARclean.png">
        <h3 class="footerquestion">
            EZ AR Booking
        </h3>
        <p class="footerallright">Copyright © 2021 EZ AR Booking All rights reserved</p>
    </div>
    <div class="col-md-3 footerleft">
        <h3 class="footerquestion2">
            Explore
        </h3>
        <a href="/home" class="footertext">Home</a>
        <a href="/about" class="footertext">About</a>
        <a href="/apartments" class="footertext">Apartments</a>
        <a href="/forums" class="footertext">Forum</a>
        <a href="/map" class="footertext">Maps</a>
    </div>
    <div class="col-md-4 footerright">
        <h3 class="footergot">Got questions?</h3>
        <p class="footertexter">If you have any questions or issues regarding the system, please leave a message.</p>
        <p class="footertexter2">Your feedback is greatly appreciated</p>
        <form role="form" method="POST" action="/emailSends">
            <div class="form-group footerright">
                <label class="footerlabel" for="UserName">
                    Your Name<span style="color: red;">*</span>
                </label>
                <input type="text" class="formstyle" name="username" id="UserName" required/>
            </div>
            <div class="form-group footerright">
                <label class="footerlabel" for="UserEmail">
                    Your Email<span style="color: red;">*</span>
                </label>
                <input type="email" class="formstyle" name="email" id="UserEmail" required/>
            </div>
            <div class="form-group footerright">
                <label class="footerlabel" for="UserEmail">
                    Your Password<span style="color: red;">*</span>
                </label>
                <input type="password" class="formstyle" name="password" id="UserEmail" required/>
            </div>
            <div class="form-group footerright">
                <label class="footerlabelMessage" for="UserMessage">
                    Message<span style="color: red;">*</span>
                </label>
                <input type="text" class="formstyle" name="message" id="UserMessage" required/>
            </div>
            <div class="footerright">
                <button type="submit" class="FooterButton">
                    Send
                </button>
            </div>
        </form>
    </div>
</div>