<%- include ('partials/head.ejs') %>
    <title>About Page</title>
</head>

<body class = "othercolorgrad">
    <div class="container-fluid outercontain" >   
        <div class="row">
            <div class="col-md-12">
                <div class="row">
    <%- include ('partials/header.ejs') %>
    <div class="row">
        <div class="col-md-12 aboutholder">
            <h3 class="flavoredtextabout">
                About
            </h3>
            <h3 class="flavoredtextabout2">
                EZ AR Booking
            </h3>
            <p class="ezflavorabout">What are we all about?
            </p>
            <p class="ezflavorabout2">
            We provide comfort to both sides of the coin. Our mission is to allow the homeowner to easily market and monitor people who want to rent their apartments and to allow the renter to easily browse and find the apartment according to their specific requirements 
            </p>
            <img class="aboutimageright" alt="About Design" src="img/flathotel.png"/>
        </div>
    </div>
</div>
<div class="row">
        <div class="row easyrow4">
                    <img class="underabout1" alt="Apartment searching made easy" src="img/magnifybg.png"/>
                    <img class="underabout2" alt="Book Whenever, Wherever" src="img/clipboardbg.png"/>
                    <img class="underabout3" alt="Forum Discussions" src="img/quotebg.png"/>

                <div class="underabouthold1">
                    <p class="underabouttext">
                        Apartment searching <br>
                        made easy
                    </p>
                    <p class="underabouttext2">
                        Be able to easily canvas the apartment you like and find the one that suits your budget
                    </p>
                </div>
                <div class="underabouthold2">
                    <p class="underabouttext">
                        Book whenever, <br> wherever
                    </p>
                    <p class="underabouttext2">
                        Be able to book at the comfort of your own home
                    </p>
                </div>
                <div class="underabouthold3">
                    <p class="underabouttext">
                        Forum Discussions
                    </p>
                    <p class="underabouttext3">
                        Ideas and issues can be freely discussed with our online forums
                    </p>
                </div>
            <div class="aboutrightholder">
                <p class="aboutrighttext">
                    What do we feature?
                </p>
                <p class="aboutrighttext2">
                    With EZ AR Booking, we aim to provide the hassle free process of renting and booking apartments online
                </p>
            </div>

        </div> 
</div>



                <%- include ('partials/footer.ejs') %>
            </div>
        </div>
    </div>
</body>

</html>