<!DOCTYPE html>
<html >
<head>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
	<link rel="icon" href="images/EZARclean.png">
	<title>Change Password</title>
</head>
<body class = "othercolorgrad">
<div class="container-fluid outercontain">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class ="headerall">
					<div class="col-md-1">
						<a href="Home.html">
						<img class="homelogo" alt="Home Logo" src="images/EZARclean.png" />
						</a>
					</div>
					<div class="col-md-7">
						<ul class="headerstyle">
							<li class="listyle">
								<a href="Home.html" class="headerlinks">Home</a>
							</li>
							<li class="listyle">
								<a href="About.html" class="headerlinks">About</a>
							</li>
							<li class="listyle">
								<a href="Apartments.html" class="headerlinks">Apartments</a>
							</li>
							<li class="listyle">
								<a href="#" class="headerlinks">Forums</a>
							</li>
						</ul>
					</div>
					<div class="col-md-4">
						<div class="rightheader">
							 <p class="welcomeuser"> Welcome, Owner!</p>

							 <a href="OwnerProfile.html">
							<img class="profileimage" alt="Profile logo" src="images/arnan.png"/>
							</a>
							 <a href="#" class="logoutuser"> Log Out </a>
						</div>
					</div>
				</div>
				<div>
					<div class="container-fluid">
						<div class="row userprofholderedit">
							<div class="optionholder">
								<div class="optiondiv">
									<img class="optionimg" alt="Profile Information" src="images/iconperson.png" />
									<a href="OwnerProfile.html" class="optiontext">
										Profile Information
									</a>
								</div>
								<div class="optiondiv">
									<img class="optionimg" alt="Profile Information" src="images/folder.png" />
									<a href="ApartmentProfile.html" class="optiontext">
										Apartment Profiles
									</a>
								</div>
								<div class="optiondiv">
									<img class="optionimg" alt="Profile Information" src="images/cog.png" />
									<a href="OwnerProfileEdit.html" class="optiontext">
										Settings
									</a>
								</div>
								<div class="optionlogdiv">
									<img class="optionimg" alt="Profile Information" src="images/ExitWhite.png" />
									<a href="#"  class="optiontext">
										Log Out
									</a>
								</div>
							</div>
							<div class="userholderedit4">
								<h3 class="tenanttext">
									Change Password
								</h3>
								<img class="userprofstyle" alt="Tenant Profile Image" src="images/arnan.png"/>
								<img class="pencil" alt="Edit Image" src="images/pencil.png">
								<div class="tenantinfoeditdiv">
									<div class="container-fluid">
										<div class="row">
											<div class="col-md-12">
												<form role="form">
													<div class="form-group">
														<label class="tenantinfolabels" for="UserPass">
															Old Password
														</label>
														<input class="tenantinfoinput" type="Password" class="form-control" id="OldPassword" />
													</div>
													<div class="form-group">
														<label class="tenantinfolabels" for="UserNewPass">
															New Password
														</label>
														<input class="tenantinfoinput" type="Password" class="form-control" id="NewPass" />
													</div>
													<div class="form-group">
														<label class="tenantinfolabels" for="UserNewPass">
															Confirm New Password
														</label>
														<input class="tenantinfoinput" type="Password" class="form-control" id="ConfirmNewPass" />
													</div>
													<button type="submit" class="tenanteditbutton2">Save</button>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
				</div>
				<div class="row footerform">
					<div class="col-md-3">
						<img class="footerpic" src="images/EZARclean.png">
						<h3 class="footerquestion">
							EZ AR Booking
						</h3>
						<p class="footerallright">Copyright © 2021 EZ AR Booking All rights reserved</p>
					</div>
					<div class="col-md-3 footerleft">
						<h3 class="footerquestion2">
							Explore
						</h3>
						<a href="#" class="footertext">Home</a>
						<a href="#" class="footertext">About</a>
						<a href="#" class="footertext">Apartments</a>
						<a href="#" class="footertext">Forum</a>
					</div>
					<div class="col-md-6 footerright">
						<h3 class="footergot">Got questions?</h3>
						<p class="footertexter">If you have any questions or issues regarding the system, please leave a message.</p>
						<p class="footertexter2">Your feedback is greatly appreciated</p>
						<form role="form">
							<div class="form-group footerright">
								<label class="footerlabel" for="UserName">
									Your Name
								</label>
								<input type="text" class="formstyle" id="UserName" />
							</div>
							<div class="form-group footerright">
								<label class="footerlabel" for="UserEmail">
									Your Email
								</label>
								<input type="email" class="formstyle" id="UserEmail" />
							</div>
							<div class="form-group footerright">
								<label class="footerlabelMessage" for="UserMessage">
									Message
								</label>
								<input type="text" class="formstyle" id="UserMessage" />
							</div>
							<div class="footerright">
								<button type="submit" class="FooterButton">
									Send
								</button>
							</div>
						</form>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
