<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="css/styles1.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <link rel="icon" href="img/EZARclean.png">
    <title>Sign Up</title>

    <style>
        /* Style all input fields */
        
        input {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
        }
        /* Style the submit button */
        
        input[type=submit] {
            background-color: #04AA6D;
            color: white;
        }
        /* Style the container for inputs */
        
        .container {
            background-color: #f1f1f1;
            padding: 20px;
        }
        /* The message box is shown when the user clicks on the password field */
        
        #message {
            display: none;
            background: #f1f1f1;
            color: #000;
            position: relative;
            padding: 20px;
            margin-top: 10px;
        }
        
        #message p {
            padding: 10px 35px;
            font-size: 18px;
        }
        /* Add a green text color and a checkmark when the requirements are right */
        
        .valid {
            color: green;
        }
        
        .valid:before {
            position: relative;
            left: -35px;
            content: "✔";
        }
        /* Add a red text color and an "x" when the requirements are wrong */
        
        .invalid {
            color: red;
        }
        
        .invalid:before {
            position: relative;
            left: -35px;
            content: "✖";
        }
    </style>
</head>

<body style="background-color: black;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="signdivpad col-md-8">
                <div class="row">
                    <div class="mainsigndiv2 col-md-6">
                        <h3 class="signtitle2">
                            Create Your Account
                        </h3>
                        <form class="formpadding" role="form" action="/signup" method="POST">

                            <div class="form-group">
                                <label class="signlabels" for="First Name">
                                    First Name
                                </label>
                                <input type="text" id="fname-sign" class="inputterstyleS form-control" name="fname" required/>
                            </div>

                            <div class="form-group">

                                <label class="signlabels" for="Last Name">
                                    Last Name
                                </label>
                                <input type="text" class="inputterstyleS form-control" name="lname" required/>
                            </div>
                            <div class="form-group">

                                <label class="signlabels" for="Middle Name">
                                    Contact Number
                                </label>
                                <input type="text" class="inputterstyleS form-control" name="contact" required/>
                            </div>
                            <div class="form-group">
                                <label class="signlabels" for="Middle Name">
                                    Birth Date
                                </label>
                                <input type="date" class="inputterstyleS form-control" name="birthdate" required/>
                            </div>
                            <div>
                                <select name="acctype" class="form-select signlabels selectorstyle" style="float: left; color: black;" aria-label="Default select example" required>
                                    <option selected>Account Type</option>
                                    <option value="0">Tenant</option>
                                    <option value="1">Owner</option>
                                </select>
                            </div>
                            <div>
                                <select name="gender" class="form-select signlabels selectorstyle" style="margin-left:50px;color: black;" aria-label="Default select example" required>
                                  
                                    <option value="male" selected >Male</option>
                                    <option value="female">Female</option>
                                    <option value="undefined">Undefined</option>
							    </select>
                            </div>
                            <div class="form-group">
                                <label class="signlabels" for="Email Address">
								    Email Address
							    </label>
                                <input type="text" class="inputterstyleS form-control" name="email" required>
                            </div>
                            <div class="form-group">
                                <label class="signlabels" for="Password">
							    	Password
							    </label>
                                <input type="password" class="inputterstyleS form-control" name="password" id="psw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
                                <label class="signlabels" for="Repeat Password">
                                    Repeat Password
                                </label>
                                <input type="text" class="inputterstyleS form-control" name="repeatpass" required>

                            </div>
                            <button type="submit" class=" regbuttonstyle">
                                    Sign-Up →
						        </button>

                            <div id="message">
                                <h3>Password must contain the following:</h3>
                                <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                                <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                                <p id="number" class="invalid">A <b>number</b></p>
                                <p id="length" class="invalid">Minimum <b>8 characters</b></p>
                            </div>
                            <script>
                                var myInput = document.getElementById("psw");
                                var letter = document.getElementById("letter");
                                var capital = document.getElementById("capital");
                                var number = document.getElementById("number");
                                var length = document.getElementById("length");

                                // When the user clicks on the password field, show the message box
                                myInput.onfocus = function() {
                                    document.getElementById("message").style.display = "block";
                                }

                                // When the user clicks outside of the password field, hide the message box
                                myInput.onblur = function() {
                                    document.getElementById("message").style.display = "none";
                                }

                                // When the user starts to type something inside the password field
                                myInput.onkeyup = function() {
                                    // Validate lowercase letters
                                    var lowerCaseLetters = /[a-z]/g;
                                    if (myInput.value.match(lowerCaseLetters)) {
                                        letter.classList.remove("invalid");
                                        letter.classList.add("valid");
                                    } else {
                                        letter.classList.remove("valid");
                                        letter.classList.add("invalid");
                                    }

                                    // Validate capital letters
                                    var upperCaseLetters = /[A-Z]/g;
                                    if (myInput.value.match(upperCaseLetters)) {
                                        capital.classList.remove("invalid");
                                        capital.classList.add("valid");
                                    } else {
                                        capital.classList.remove("valid");
                                        capital.classList.add("invalid");
                                    }

                                    // Validate numbers
                                    var numbers = /[0-9]/g;
                                    if (myInput.value.match(numbers)) {
                                        number.classList.remove("invalid");
                                        number.classList.add("valid");
                                    } else {
                                        number.classList.remove("valid");
                                        number.classList.add("invalid");
                                    }

                                    // Validate length
                                    if (myInput.value.length >= 8) {
                                        length.classList.remove("invalid");
                                        length.classList.add("valid");
                                    } else {
                                        length.classList.remove("valid");
                                        length.classList.add("invalid");
                                    }
                                }
                            </script>

                        </form>
                    </div>
                    <div style="padding-left: 30px;" class="signdiv col-md-6 ">
                        <button type="button" class="closebutt">X</button>
                        <img alt="EZ Logo" class="logostyle" src="img/EZAR.png" />
                        <h3 class="logflavorstyle">
                            Already a Member?
                        </h3>
                        <a class="loghyperstyle" href="/login">
                            <u>Log in to your account here</u>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
</body>

</html>